html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, 
#C49227 0%, 
#151515 50%, 
#000000 90%);


    color: white;
}
.logo {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: contain;
    background-color: black;
    padding: 15px;
    border: 5px solid #000000;
}





h1 {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
h1 {
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.link:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.6);
}



.link {
    width: 280px;
    padding: 18px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 15px;
    font-weight: bold;
    font-size: 18px;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}



.link:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.instagram {
    background: linear-gradient(45deg,#405DE6,#833AB4,#E1306C,#FD1D1D,#FCAF45);
}

.youtube {
    background: #FF0000;
}

.gmail {
    background: linear-gradient(45deg,#1A73E8,#D93025,#FBBC05,#34A853);
}
